@model PagedList.IPagedList<MvcHotel.Models.RoomNum>
@using PagedList.Mvc;
<table class="table" id="room-num-tb">
    <tr>
        <th>
            房间号
        </th>
        <th>
            房间类型
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomInfo.Rtype)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Rno }) |
                @Html.ActionLink("Details", "Details", new { id = item.Rno }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Rno }) |
                @*@using (Html.BeginForm("Delete", "UserRoomNum", FormMethod.Post, new { id = item.Rno }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" />
                            </div>
                    }*@
            </td>
        </tr>
    }

</table>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("_RoomNumInfo",
                                         new { page, currentFilter = ViewBag.CurrentFilter }))
