
<header class="nav menu ">
    <div class="cd-auto-hide-header cd-primary-nav" id="cd-navigation">
        <div class="menu-header">
            <div class="title">
                <p>Stay &nbsp; In &nbsp; This &nbsp; City</p>
            </div>
            <div class="menu-nav">
                <span>@Html.ActionLink("设施服务", "Index", "User")</span>
                <span><a href="" id="prompt">房间展示</a></span>
                <div class="menu-btn">
                    <span>@Html.ActionLink("房间预定", "Create", "UserBooks")</span>
                    <div class="menu-content">
                        <ul>
                            <li>
                                <a href="">单人房</a>
                            </li>
                            <li>
                                <a href="">标准房</a>
                            </li>
                            <li>
                                <a href="">家庭房</a>
                            </li>
                            <li>
                                <a href="">商务房</a>
                            </li>
                            <li>
                                <a href="">套房</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="menu-btn">
                    <span><a href="">联系我们</a></span>
                    <div class="menu-content">
                        <ul>
                            <li><a href="">酒店地点</a></li>
                            <li><a href="">联系方式</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="logo">
            <img src="../../images/logo.png" width="80" />
        </div>
        <div class="search_box" style="margin-right:50px;">
            <form action="~/UserBooks/Create" method="get">
                <input type="text" runat="server" name="findkey" placeholder="请输入需要的房型">
                <input class="search_btn" type="submit" value="Search">
            </form>
        </div>
        <div class="rightbutton">
            @using (Html.BeginForm("Index", "UserCustomers", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <span class="mybook"><button class="my-book" type="submit">我的订单</button></span>
    }

            <span style="color: #B4B4B4">|</span>
            @using (Html.BeginForm("Logout", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <span class="logoutbtn"><button class="logout-btn" type="submit">登出</button></span>
            <div class="clearfix"></div>
    }
        </div>
    </div>

</header>
<div class="clearfix"></div>
<nav class="cd-auto-display-header cd-secondary-nav">
    <div class="menu-header">
        <div class="menu-logo">
            <img src="../../images/logo.png" width="50" />
        </div>
        <div class="menu-nav ">
            <span><a href="">设施服务</a></span>
            <span><a href="">房间展示</a></span>
            <div class="menu-btn">
                <span>@Html.ActionLink("房间预定", "Create", "UserBooks")</span>
                <div class="menu-content">
                    <ul>
                        <li>
                            <a href="">单人房</a>
                        </li>
                        <li>
                            <a href="">标准房</a>
                        </li>
                        <li>
                            <a href="">家庭房</a>
                        </li>
                        <li>
                            <a href="">商务房</a>
                        </li>
                        <li>
                            <a href="">套房</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="menu-btn">
                <span><a href="">联系我们</a></span>
                <div class="menu-content">
                    <ul>
                        <li><a href="">酒店地点</a></li>
                        <li><a href="">联系方式</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="search_box">
            <form action="~/UserBooks/Create" method="get">
                <input type="text" runat="server" name="findkey" placeholder="请输入需要的房型">
                <input class="search_btn" type="submit" value="Search">
            </form>
        </div>
        <div class="rightbutton">
            <span class="book"><button>@Html.ActionLink("订购", "Create", "UserBooks")</button></span>
        </div>
    </div>
</nav>