@model MvcHotel.Models.Guest

@{
    ViewBag.Title = "客户信息编辑";
    Layout = "~/Views/Shared/AdminMenu/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("返回", "Index", "", new { @class = "fas fa-arrow-alt-circle-left return-btn" })
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Guest</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Gname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gsex, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @*@Html.EditorFor(model => model.Gsex)*@
                    @Html.DropDownListFor(model => model.Gsex, new SelectList(new[] { new { Value = "", Text = "--选择--" }, new { Value = "true", Text = "男" }, new { Value = "false", Text = "女" }, }, "Value", "Text"))
                    @Html.ValidationMessageFor(model => model.Gsex, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @Html.HiddenFor(model => model.Gid)

        <div class="form-group">
            @Html.LabelFor(model => model.Gtel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gtel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gtel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
