@*@model IEnumerable<MvcHotel.Models.Book>*@
@model PagedList.IPagedList<MvcHotel.Models.Book>
@using PagedList.Mvc;
@{
    ViewBag.Title = "订房管理";
    Layout = "~/Views/Shared/AdminMenu/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="admin-table-wrap">
    <div class="admin-search-box">
        @using (Html.BeginForm())
        {
        <div class="row">
            <div class="col-sm-1">
                <button class="btn">@Html.ActionLink("新建订单", "Create")</button>
            </div>
            <div class="col-sm-1">
                <button class="btn" type="submit">所有订单</button>
            </div>
            <div class="col-sm-2">
                <select name="findClass" class="admin-search-box-select">
                    <option>--条件选择--</option>
                    <option value="1">姓名</option>
                    <option value="2">电话</option>
                </select>
            </div>
            <div class="search-box-input col-sm-3">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "" })
                <input class="admin-search-box-btn" type="submit" value="Search" width="50" />
            </div>
            <div class="time-filter col-sm-5">
                <div class="time-filter-check  col-sm-6">
                    @*calender here*@
                    <div class="controls input-append date form_date" data-date-format="dd MM yyyy" data-link-field="checkinTimeString" data-link-format="yyyy-mm-dd">
                        <span class="add-on"><i class="icon-th"></i></span>
                        <input size="20" type="text" value="" placeholder="入住时间" readonly>
                        <span class="right-icon add-on">
                            <span class="far fa-calendar-alt "></span>
                        </span>
                    </div>
                    @Html.TextBox("checkinTimeString", ViewBag.CurrentFilter as string, new { @class = "", @type = "hidden" })
                    @*<input type="hidden" id="dtp_input3" value="" /><br />*@
                    @*calender here*@
                </div>
                <div class="time-filter-check  col-sm-6">
                    @*calender here*@
                    <div class="controls input-append date form_date" data-date-format="dd MM yyyy" data-link-field="checkoutTimeString" data-link-format="yyyy-mm-dd">
                        <span class="add-on"><i class="icon-th"></i></span>
                        <input size="20" type="text" value=""  placeholder="离店时间" readonly>
                        <span class="right-icon add-on">
                            <span class="far fa-calendar-alt "></span>
                        </span>
                    </div>
                    @Html.TextBox("checkoutTimeString", ViewBag.CurrentFilter as string, new { @class = "", @type = "hidden" })
                    @*<input type="hidden" id="dtp_input4" value="" /><br />*@
                    @*calender here*@
                </div>
            </div>
        </div>
        <div class="row">

        </div>
            <div class="clearfix"></div>
        }
    </div>
    @using (Html.BeginForm("MultDelete", "AdminBooks"))
    {
        <table class="tb admin-table" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        <label class="checkbox-label">
                            <input type="checkbox" id="selectAll" /><i class="replace"></i>
                        </label>
                        <input type="submit" value="多选删除" class="btn" onclick="return confirm('确定要删除吗?')" />
                    </th>
                    <th>
                        姓名
                    </th>
                    <th>
                        入住时间
                    </th>
                    <th>
                        退房时间
                    </th>
                    <th>
                        房间类型
                    </th>
                    <th>
                        联系方式
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <label class="checkbox-label">
                                @*@Html.CheckBox("checkitem", new { value = item.Bid, @name = "checkitem" })*@
                                <input type="checkbox" name="checkitem" value="@item.Bid"><i class="replace"></i>
                            </label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.Cname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CheckinTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CheckoutTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomInfo.Rtype)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.Ctel)
                        </td>
                        <td>
                            @Html.ActionLink("编辑", "Edit", new { id = item.Bid }, new { @class = "far fa-edit" }) |
                            @*@Html.ActionLink("详情", "Details", new { id = item.Bid }, new { @class = "far fa-trash-alt" }) |*@
                            @Html.ActionLink("删除", "Delete", new { id = item.Bid }, new { onclick = "return confirm('确定删除吗？')", @class = "far fa-trash-alt" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*<table class="table">
                <tr>
                    <th>
                        <input type="checkbox" id="selectAll" />
                        <input type="submit" value="多选删除" class="btn" onclick="return confirm('确定要删除吗?')" />
                    </th>
                    <th>
                        姓名
                    </th>
                    <th>
                        入住时间
                    </th>
                    <th>
                        退房时间
                    </th>
                    <th>
                        房间类型
                    </th>
                    <th>
                        联系方式
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.CheckBox("checkitem", new { value = item.Bid })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.Cname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CheckinTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CheckoutTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomInfo.Rtype)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.Ctel)
                        </td>
                        <td>
                            @Html.ActionLink("编辑", "Edit", new { id = item.Bid }) |
                            @Html.ActionLink("详情", "Details", new { id = item.Bid }) |
                            @Html.ActionLink("删除", "Delete", new { id = item.Bid }, new { onclick = "return confirm('确定删除吗？')" })
                        </td>
                    </tr>
                }

            </table>*@
    }
</div>

            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
                                          new { page, currentFilter = ViewBag.CurrentFilter }))
            <script type="text/javascript">
                $('.form_date').datetimepicker({
                    format: 'yyyy-mm-dd',
                    initialDate: new Date(),
                    language: 'zh-CN',
                    weekStart: 1,
                    todayBtn: 1,
                    autoclose: 1,
                    todayHighlight: 1,
                    startView: 2,
                    minView: 2,
                    forceParse: 0
                });
            </script>
            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    $(".mask").height(document.documentElement.clientHeight * 2);
                    $(".edit-btn").click(function () {
                        if ($(".mask").css("display") == "none") {
                            $(".mask").fadeIn(100);
                            $(".editpart").slideDown(200);
                            $("body").css("overflow", "hidden");
                        }
                    });
                    $(".btn-close").on("click", function () {
                        $(".mask").fadeOut(100);
                        $(".editpart").slideUp(100);
                        $("body").css("overflow", "scroll");
                    });

                    $(".mask").on("click", function () {
                        $(".mask").fadeOut(100);
                        $(".editpart").slideUp(100);
                        $("body").css("overflow", "scroll");
                    });
                });

            </script>